<form (ngSubmit) ="updateStudent(studentForm)" #studentForm="ngForm">
    <!-- <label for="id">ID</label>
    <input type="text" ngModel  class="form-control" name="id" > -->

    <label for="first_name">FIRST NAME</label>
    <input type="text" ngModel class="form-control" name="first_name" id="first_name" ><br>
  
    <label for="last_name">LAST NAME</label>
    <input type="text" ngModel class="form-control" name="last_name" ><br>
  
    <label for="phone">PHONE</label>
    <input type="text" ngModel class="form-control" name="phone">

    <button>UPDATE</button>
  </form>
  